/* GENERAL */

@import url('https://fonts.googleapis.com/css2?family=Reddit+Mono:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Reddit Mono", monospace, sans-serif;
  background: linear-gradient(to bottom, black, black, #0C093C, #0C093C, #0C093C, #DF42D1);
  color: whitesmoke;
}

html {
  scroll-behavior: smooth;
}

p {
  color: whitesmoke;
}

/* TRANSITION */

a,
.btn {
  transition: all 300ms ease;
}

/* DESKTOP NAV */

#desktop-nav {
  position: sticky;
  top: 0;
  background-color: #010106;
  z-index: 1;
}

nav,
.nav-links {
  display: flex;
}

nav {
  justify-content: space-around;
  align-items: center;
  height: 17vh;
}

.nav-links {
  gap: 2rem;
  list-style: none;
  font-size: 1.5rem;
}

a {
  color: whitesmoke;
  text-decoration: none;
  text-decoration-color: #f2ff2;
}

a:hover {
  color: whitesmoke;
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: whitesmoke;
}

.logo {
  font-size: 2rem;
}

.logo:hover {
  cursor: default;
}

/* SECTIONS */

section {
  padding-top: 4vh;
  height: 96vh;
  margin: 0 10rem;
  box-sizing: border-box;
  min-height: fit-content;
}

.section-container {
  display: flex;
  flex-wrap: wrap;
}

/* PROFILE SECTION */
/* BLOG CONTENT SECTION */

#profile {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  height: 83vh;
  margin: 0 auto;
  /* background: linear-gradient(to bottom, black, #0C093C, #DF42D1); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#profile {
  background: 
    linear-gradient(#00000080, rgba(0, 0, 0, 0.7)), /* Dark overlay */
    url('/images/galaxy-bg.jpg');
}

.section-pic-container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  align-self: center;
}

.section-pic-container img {
  object-fit: contain;
  height: 574px;
}

.section-text {
  align-self: center;
  text-align: center;
  margin-bottom: 120px;
}

.section-text p {
  font-weight: 600;
}

.section-text-p1 {
  text-align: center;
}

.section-text-p2,
.header-paragraph {
  font-size: 1.75rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  color: gray;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.header-paragraph {
  margin-top: 4rem;
  text-transform: none;
  font-size: 16px;
  color: whitesmoke;
}

h1.title {
  margin-top: 15rem;
}

#profile .title {
  margin-top: 0.5rem;
}

.title {
  font-size: 6rem;
  text-align: center;
  line-height: 1;
}

/* ICONS */

.icon {
  cursor: pointer;
  height: 2rem;
}

/* BUTTONS */

.btn-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
}

.btn {
  font-weight: 600;
  transition: all 300ms ease;
  padding: 1rem;
  width: 10rem;
  height: 3.5rem;
  border-radius: 2rem;
}

.btn-color-1,
.btn-color-2 {
  border: whitesmoke 0.1rem solid;
  color: whitesmoke;
}

.btn-color-1:hover,
.btn-color-2:hover {
  cursor: pointer;
}

.btn-color-2 {
  background: rgb(53, 53, 53);
  color: #f2ff2;
}

.btn-color-1 {
  background-color: #9c0a90;
  color: whitesmoke;
  border: #9c0a90 0.1rem solid;
}

.btn-color-1:hover {
  background: rgb(0, 0, 0);
}

.btn-color-2 {
  background: none;
}

.btn-color-2:hover {
  border: #0C093C 0.1rem solid;
  background-color: #0C093C;
  color: whitesmoke;
}

.btn-container {
  gap: 1rem;
}

/* ABOUT SECTION */
/* BLOG CONTENT */

#about {
  position: relative;
}

.about-containers {
  gap: 2rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.about-details-container {
  justify-content: flex-start;
  flex-direction: column;
}

.about-details-container img {
  margin-bottom: 5px;
}

.about-containers,
.about-details-container {
  display: flex;
}

.text-container {
  line-height: 1.8rem;
  color: whitesmoke;
  font-size: 20px;
  font-weight: 300;
}

.about-pic {
  border-radius: 2rem;
}

.details-container {
  padding: 1.5rem;
  flex: 1;
  background: whitesmoke;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  text-align: center;
  color: black;
}

.details-container p {
  color: black;
}

.section-container {
  gap: 4rem;
  height: 80%;
}

.section-pic-container {
  height: 400px;
  width: 400px;
  margin: auto 0;
}

#projects.blog-content .title {
  font-size: 3rem;
}

#projects.blog-content .details-container {
  max-width: 70vw;
  align-self: center;
  margin: 3rem 0 7rem;
}

#projects.blog-content .details-container img {
  max-height: 500px;
}


/* EXPERIENCE SECTION */

#experience {
  position: relative;
}

.experience-sub-title {
  color: rgb(85, 85, 85);
  font-weight: 600;
  font-size: 1.75rem;
  margin-bottom: 2rem;
}

.experience-details-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.article-container {
  display: flex;
  text-align: initial;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 2.5rem;
  justify-content: space-around;
}

#experience .article-container img {
  height: 50px;
}

article {
  display: flex;
  width: 10rem;
  justify-content: space-around;
  gap: 0.5rem;
}

article .icon {
  cursor: default;
}

/* PROJECTS SECTION */
/* BLOG SECTION */

#projects, #blog {
  position: relative;
  display: grid;
  justify-content: center;
  height: fit-content;
}

#projects .title {
  text-align: center;
  margin-bottom: 2rem; /* Space between the title and the grid */
}

.project-img {
  border-radius: 2rem;
  margin-bottom: 1rem;
  object-fit: cover;
  width: 100%;
  height: auto;
}

.project-title {
  margin: 1rem;
  color: black;
}

#projects .about-containers,
#blog .about-containers {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(380px, 1fr)); /* Ensure items wrap */
  gap: 2rem;
  width: 100%;
}

.project-btn {
  color: black;
  border-color: rgb(163, 163, 163);
  text-align: center;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
}

#projects .btn-container, button,
#blog .btn-container, button {
  margin: 0;
}

#blog .details-container p {
  text-align: left;
  padding: 0 2rem 0;
}

#blog .btn-container {
  margin-top: 5rem;
}

#blog .article-container img {
  height: 400px;
}


/* CONTACT SECTION*/

#contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

.contact-info-upper-container {
  display: flex;
  justify-content: center;
  border-radius: 2rem;
  border-color: rgb(163, 163, 163);
  background: #0C093C;
  margin: 2rem auto;
  padding: 0.5rem;
}

.contact-info-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin: 1rem;
}

.contact-info-container p {
  font-size: larger;
}

.contact-icon {
  cursor: default;
  height: 2.5rem;
}

#contact a {
  display: flex;
  gap: 1rem;
  padding: 2rem;
  cursor: pointer;
}

#contact img {
  cursor: pointer;
}